<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Survey Results</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Submitted Information:</h1>
        <h3>Name: <%= user_data.name %></h3>
        <h3>Dojo Location: <%= user_data.location %></h3>
        <h3>Favorite Language: <%= user_data.favelang %></h3>
        <h3>Comment: <%= user_data.comments %></h3>
        <a href="/"><h3>Back</h3></a>
    </body>
</html>